
body {
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 400px;
    background-size: contain;
    background-size: 800px;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 85px;
    text-align: center;
}

.Update-zone {
    width: 270px;
    border-style: solid;
    border-width: 3px;
}


.Headline {
    color: black;
}

a.Headline {
    color: black;
}

h3 {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
}

p.Pregraph {
    font-family: 'Russo One', sans-serif;
    /*border-style:solid;*/
    /*border-width: 2px;*/
    font-size: 20px;
}

.ReadVideo {
}

.Menu {
    font-family: 'Chewy', cursive;
    font-size: 40px;
    left: 30%;
    text-decoration: none;
}

    .Menu #ts {
        padding-left: 10px;
    }

    .Menu #fu {
        padding-left: 20px;
    }

    .Menu #ma7x {
        padding-left: 30px;
    }


a.Headline:hover:not(#LinkButton1) {
    background-color: #817d7d;
}

a:visited {
    color: #564949;
}

a:link:not(#LinkButton1) {
    text-decoration: none;
    color: black;
}

.Menu a:hover {
    text-shadow: 0 0 0.6px;
    color: #673434;
    text-decoration: none;
    font-size: 41px;
}

a.ReadVideo:hover:not(#LinkButton1) {
    color: dodgerblue;
    font-size: 21px;
}



img.Network {
    width: 70px;
    position: center; /*changed fixed to center*/
    top: 270px;
    left: 40%;
}

    img.Network:hover {
        width: 75px;
    }

img.Network2 {
    width: 90px;
    position: center; /*changed fixed to center*/
    top: 260px;
    left: 45%;
}

    img.Network2:hover {
        width: 100px;
    }

img.Network3 {
    position: center; /*changed fixed to center*/
    top: 265px;
    left: 50%;
    width: 75px;
}

    img.Network3:hover {
        width: 80px;
    }

img.Network4 {
    width: 75px;
    position: fixed; /*changed fixed to center*/
    top: 265px;
    left: 55%;
}

    img.Network4:hover {
        width: 80px;
    }

h3.NetworkH {
    font-family: 'Russo One', sans-serif;
    font-size: 23px;
    text-align: center;
}

iframe.HomeVideo {
    position: fixed;
    top: 150px;
    left: 1400px;
    border-width: 4px;
}

iframe.HomeVideo2 {
    position: fixed;
    top: 450px;
    left: 1400px;
    border-width: 4px;
}

iframe.FindVideo1 {
    border-width: 4px;
    margin: auto;
    position: static;
}

h3#All {
    text-align: center;
    padding-top: 20%;
    padding-right: 4%;
}

#pardiv {
    text-align: center;
    width: 25%;
    margin: auto;
    font-family: 'Russo One', sans-serif;
    padding-right: 4%;
    padding-top: 5%;
    font-size: 20px;
}

input.textbox1 {
    border-width: 3PX;
    width: 170px;
    height: 20px;
    border-color: #562e2e;
    fill: ActiveBorder;
}

div.Line {
    width: 12px;
    height: 100%;
    background-color: black;
}

hr.hr {
    width: 0.1%;
    display: inline-block;
    height: 100%;
    border-width: 0.1px;
}

#social {
    position: sticky;
}

    #social .NetworkH {
        position: absolute;
        padding-top: 150px;
        bottom: 0px;
    }

    #social .Network {
        position: absolute;
        padding-top: 8%;
    }

    #social .Network2 {
        position: absolute;
        padding-top: 8%;
    }

    #social .Network3 {
        position: absolute;
        padding-top: 8%;
    }

    #social .Network4 {
        position: absolute;
        padding-top: 8%;
    }

#login {
    text-align: center;
}

#usernamebox {
    margin-top: 1%;
    height: 30px;
    border: none;
    background-color: #E0E0E0;
}

#passwordbox {
    margin-top: 0.5%;
    height: 30px;
    border: none;
    background-color: #E0E0E0;
}

#loginbut {
    margin-top: 0.5%;
    height: 30px;
    width: 100px;
    color: white;
    border: none;
    background-color: #616161;
    cursor: pointer;
}

    #loginbut:hover {
        background-color: #BDBDBD;
    }

#signupbut {
    margin-top: 0.5%;
    height: 30px;
    width: 100px;
    color: white;
    border: none;
    background-color: #616161;
    cursor: pointer;
}

    #signupbut:hover {
        background-color: #BDBDBD;
    }

#register {
    text-align: center;  
}

#userbox {
    margin-top: 1%;
    height: 30px;
    border: none;
    background-color: #E0E0E0;
}

#passbox {
    margin-top: 0.5%;
    height: 30px;
    border: none;
    background-color: #E0E0E0;
}

#passboxcon {
    margin-top: 0.5%;
    height: 30px;
    border: none;
    background-color: #E0E0E0;
}

#subbut {
    margin-top: 0.5%;
    height: 30px;
    width: 100px;
    color: white;
    border: none;
    background-color: #616161;
    cursor: pointer;
}

    #subbut:hover {
        background-color: #BDBDBD;
    }


